* { 
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
    text-decoration: none;
    list-style: none;
}

header { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding: 15px 100px;
    z-index:10;
    background: #5b639c;
}
.logo { 
    position: relative;
    font-size:1.5em;
    color:#fff;
    text-decoration: none;
    font-weight: 600;
}
.navigation { 
    display:flex;
    justify-content:center;
   
}
.navigation li {
    margin:0 10px;
    
}
.navigation li a{
    color:#fff;
    font-weight: 500;
    letter-spacing: 1px;
}
.navigation li a:hover { 
    color:#9b9caa;
}
.banner { 
    background: #434978;
    /* 200px 100px 10px padding */
    padding:150px 100px ;
    min-height:100vh;
    display:flex;
    /* justify space between */
    justify-content:center;
    align-items: center;
}
.content { 
    max-width: 700px;
}
.content h2 { 
    font-size:3em;
    color :#fff;
}
.content p {
    font-size:1em;
    line-height:30px;
    color:#fff;
}
.content a {
    color:#434978;
    border: 2px solid black;
    background:#fff;
    display:inline-block;
    padding: 8px 20px;
    font-size: 16px;
    margin-top: 20px;
}
.content a:hover {
    color:#9b9caa
}
.banner img {
    max-width: 400px;
    filter: invert(1);
}
@media (max-width:982px){
    header { 
        flex-direction: column;
        padding:15px 10px;
        display:flex;
    }
    .banner {
        flex-direction: column-reverse;
    }
    .banner img {
        max-width: 250px;
        
    }
    .content h2 { 
        font-size:2em;
    }
    .content a { 
        align-items: center;
        justify-content:center;
        display:flex;
    }
    .banner { 
        padding:150px 50px;
       
    }
}

